<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>IPPATSU</title>
	<link rel="stylesheet" href="/assets/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

<body>


<% if !current_user.nil? %>
	<nav class="center-hrizontal">
		<a href="/">IPPATSU!!!</a>
		<a href="/follow_timeline">Follow Timeline</a>
		<a href="/post">POST</a>
		<a href="/mypage">MYPAGE</a>
		<a href="/signout">logout</a>
	</nav>

<% else %>
	<nav class="center-hrizontal">
		<a href="/">IPPATSU!!!</a>
		<a href="/signup">新規登録</a>
	</nav>
<% end %>


	<main>

		<%= yield %>

	</main>
</body>
</html>