<section class="center-vertical">
	<h1>新規登録</h1>

		<div class="center-hrizontal">
			<div class="post center-vertical">
				<form action="/signup" method="post" enctype="multipart/form-data">
					<input type="text" name="mentor_name" placeholder="メンター名">
					<input type="text" name="account_id" placeholder="ユーザーID">
          <input type="password" name="password" placeholder="パスワード">
          <input type="password" name="password_confirmation" placeholder="パスワード確認">
          <input type="file" name="user_profile">
          <input type="submit" value="登録する">
				</form>
			</div>
		</div>

</section>