<section class="center-vertical">
	<h1>新規登録</h1>

		<div class="center-hrizontal">
				<div class="post center-vertical">
					<form action="/signup" method="post" enctype="multipart/form-data">
						<input type="text" name="user_name" placeholder="ユーザー名">
            <input type="text" name="password" placeholder="password">
            <input type="text" name="password_confirmation" placeholder="confirm password">
            <input type="file" name="user_profile">
            <input type="submit" value="新規登録">
					</form>
				</div>
		</div>

</section>